<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/show_ticket.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex">
    
    
      <!--  Header  -->
      <div id="header" class="flex">
             
        <div id="logo-bar" class="flex">
        <div id="logo"><a href="/main">Request</a></div>
        </div>
        <div id="profile" class="flex">
            
            <div class="dropdown">
                <div id="profile-img flex">
                    <div><!-- arrow --></div>
                    <img  src="<%=user.img%>">
                </div>
                <div class="dropdown-content">
                  <a href="/profile">Profile</a>
                  <a href="/logout">Log Out</a>
                </div>
              </div>
        
        <div id="name-profile">
            
            <% if (user === null){ %>
                <a href="/login">Log in</a>
               <% }else{ %>
                  <%= user.name %>
               <% } %>
               

        </div>
        </div>
    </div>
  <!--        -->
     

       <!--  Section  -->

       <!--  Section Menu -->
        <div id="section" class="flex">

          <div id="section-menu" class="flex">
           
            <% var category = ['Programming','Design','Translation','Marketing','']%>

            <% category.forEach((el)=>{ %> 
                <% if(el === category[4]){ %>
                 <div class="category flex">
                    <a href="/main/<%= el%>">Show All</a>
                </div>
                <% }else{ %>
                <div class="category flex">
                    <a href="/main/<%= el%>"><%=el %></a>
                </div>
                <% } %>
               

            <% }) %> 
            
        
          </div>
         <!--          -->
         <!--  Section Tickets -->
          <div id="section-tikcets" class="flex">
            
            <div id="btns-bar"  class="flex">
                <% if ((parseInt(user.type)) === 0){ %>
                    
                    <a href="/new_ticket">New Post</a>
                    <% if(search){%>
                        <a href="/main">All Order</a>
                           
                        <% }else{%>
                   <a href="/main?myorder=true">My Order</a>
                   <% }%>
               <% } %>
            </div>
            
            <div id="show-tickets" class="flex">
                


                 <% data.forEach((element) => { %>
                 <a  id="ticket-link" href="/show_ticket/<%= element._id%>/">
                 <div id="ticket-card" class="flex" >
                    <div id="ticket-img" class="flex">
                     <img src="https://image.freepik.com/free-vector/new-post-neon-signs-style-text_118419-1184.jpg" alt="">
                     </div> 

                 <div id="ticket-info" class="flex">
                    
                    <div id="card-subject">
                        <%=element.subject%>
                    </div>

                    <div id="card-by">
                        By: <%=element.user.name%>
                    </div>

                    <div id="card-state">
                       State: Open
                    </div>

                    <div id="card-time">
                        <%=element.createdAt%>
                    </div>
                    
               
                 </div>
               
                 </div>
               
                 <% });  %>

                </a>

            </div>
        
          </div>

        </div>
        <!--          -->

        

        <!--          -->
 <!--------------------------Footer---------------------------->
 <div class="footer">
    <h4>Coded By Epsilon Team</h4>
     <p> Manal & Asim & Njoud </p>

   </div>

</body>
<script src="/jquery-3.5.1.js"></script>

    <script src="/main.js"></script>

    
    <!---  for mnue in the header -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     


</html>